@charset "UTF-8";
/*Обнуление*/

* {
   padding: 0;
   margin: 0;
   border: 0;
}

*, *:before, *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sixing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus, :active {
   outline: none;
}

a:focus, a:active {
   outline: none;
}

/*убираем линии обводки у некоторых браузерах*/

nav, footer, header, aside {
   display: block;
}

/*делаем эти теги блочными*/

html, body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

/*уравнивает поведения шифтов и эллементов у разных браузерах*/

input, button, textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-iner {
   padding: 0;
   border: 0;
}

a, a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
   font-size: inhetit;
   font-weight: 400;
}

/*--------------------------------*/

body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-weight: 600;
}

h1,
h2,
h3 {
   font-weight: 700;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
}

.container {
   max-width: 980px;
   margin: 0px auto;
}

.content {
   padding: 10px 5px;
}

.header {
   background-color: rgb(140, 140, 236);
}

.header__main {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.header__title {
   display: flex;
   flex-direction: column;
}

h1{
   font-size: 46px;
}

h2{
   font-size: 32px;
}

h3{
   font-size: 28px;
}

.header__foto {
   margin: 20px 0px 20px 0px;
}

.column_left {
   min-width: 300px;
}

.header__foto img {
   width: 200px;
   border-radius: 50%;
}

.main {
   flex: 1 1 auto;
}
.main__row {
   display: flex;
   flex-direction: row;
}
.main__aside {
   padding: 20px 10px;
   display: flex;
   flex-direction: column; 
}

.main__content {
   padding: 20px 0;
   display: flex;
   flex-direction: column;
}

.aside__columns {
   padding: 0 15px 0 0;
}

.aside__skills {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 20px;
}
.skills__items {
   padding: 10px 0px 0px 15px;
}
.skills__item {
   font-size: 20px;
   line-height: 30px;
}

.skills__english {
   display: flex;
   flex-direction: column;
   align-self: start;
   margin: 15px 0px 0px 0px;
}
.english__title {
   font-size: 24px;
   align-self: center;
}
.english__level {
   align-self: center;
   font-size: 42px;
}
.contacts__items {
   padding: 10px 0px 0px 15px;
}
.contacts__item {
   font-size: 16px;
   line-height: 26px;
}

.aside__contacts {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.about__info {
   margin: 10px 0 0 0;
}

.about__info p {
   font-size: 18px;
   line-height: 26px;
   margin-bottom: 15px;
}
.footer {
   background-color: rgb(140, 140, 236);
}

.footer__items {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 15px 0 15px 0;
}

.footer__item {
   font-size: 30px;
}

.footer__item a {
   color: #000000;
}